<?xml version='1.0' encoding='utf-8'?>
<widget id="com.artgins.gui_yunetas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GuiYunetas</name>
    <description>GUI of Yunetas</description>
    <author email="rmm@artgins.com" href="https://artgins.com">
        ArtGins
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
