/*********************************************************
 *      Common
 *********************************************************/
:root {
    --top-layer-size: 40px;
    --bottom-layer-size: 40px;
    --left-layer-size: 40px;
    --right-layer-size: 40px;
    --main-content-margin-size: 5px;
    --main-content-padding-size: 5px;
    --border-primary: #cdcdcd;
    --font-size: 16px;
    /*--font-size: 1em;*/
    background-color: #EEEEEE;
}


/*********************************************************
 *      Colors
 *********************************************************/
:root {
    /* CSS Variables */
}

@media (prefers-color-scheme: light) {
    :root {
        /* CSS Variables */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* CSS Variables */
    }
}

[data-theme=light],
.theme-light {
    /* CSS Variables */
    background-color: #EEEEEE;
}

[data-theme=dark],
.theme-dark {
    /* CSS Variables */
    background-color: black;
}

/*********************************************************
 *      w2ui overwrite
 *********************************************************/
/*.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button .w2ui-tb-icon {*/
/*    height: calc(var(--top-layer-size) - 10px) !important;*/
/*    width: calc(var(--top-layer-size) - 10px) !important;*/
/*    margin: 0 !important;*/
/*}*/


/*.w2ui-reset {*/
/*    !*font-size: 1em !important;*!*/
/*    font-size: var(--font-size) !important;*/
/*}*/

/*.w2ui-tb-icon > span {*/
/*    !*font-size: 1em !important;*!*/
/*    font-size: var(--font-size) !important;*/
/*    color: black !important;*/
/*}*/

/*********************************************************
 *      Body
 *********************************************************/
body,
html,
#root {
    width: 100%;
    height: 100%;
}
html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
    overflow: hidden;
}
