/*********************************************************
 *      Layers
 *********************************************************/
:root {
    --top-layer-size: 40px;
    --bottom-layer-size: 40px;
    --left-layer-size: 40px;
    --right-layer-size: 40px;
    --main-content-margin-size: 5px;
    --main-content-padding-size: 5px;
}

.top-layer {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: var(--top-layer-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.top-left-layer {
    display: flex;
}

.top-center-layer {
    display: flex;
}

.top-right-layer {
    display: flex;
}

.bottom-layer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: var(--bottom-layer-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-left-layer {
    display: flex;
}

.bottom-center-layer {
    display: flex;
}

.bottom-right-layer {
    display: flex;
}

.left-layer {
    position: fixed;
    z-index: 10;
    left: 0;
    margin-left: 5px;
    top: var(--top-layer-size);
    width: var(--left-layer-size);
    bottom: var(--bottom-layer-size);
}

.right-layer {
    position: fixed;
    z-index: 10;
    right: 0;
    margin-right: 5px;
    top: var(--top-layer-size);
    width: var(--right-layer-size);
    bottom: var(--bottom-layer-size);
}

.main-content {
    position: absolute;
    top: var(--top-layer-size);
    bottom: var(--bottom-layer-size);
    left: var(--left-layer-size);
    right: var(--right-layer-size);
    overflow: auto;
    margin: var(--main-content-margin-size);
    padding: var(--main-content-padding-size);
    white-space: nowrap;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 99;
    display: none;
}

.with-border {
    border: 1px solid #efefef;
}

/*********************************************************
 *      Colors
 *********************************************************/
@media (prefers-color-scheme: light) {
    :root {
        /* CSS Variables */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* CSS Variables */
    }
}

[data-theme=light],
.theme-light {
    /* CSS Variables */
    background-color: #EEEEEE;
}

[data-theme=dark],
.theme-dark {
    /* CSS Variables */
    background-color: black;
}

/*********************************************************
 *      Body
 *********************************************************/
body,
html,
#root {
    width: 100%;
    height: 100%;
}
html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
    overflow: hidden;
}
