/*********************************************************
 *      Colors
 *********************************************************/
@media (prefers-color-scheme: light) {
    :root {
        /* CSS Variables */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* CSS Variables */
    }
}

[data-theme=light],
.theme-light {
    /* CSS Variables */
    /*background-color: #EEEEEE;*/
}

[data-theme=dark],
.theme-dark {
    /* CSS Variables */
    /*background-color: black;*/
}

/*********************************************************
 *      Body
 *********************************************************/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior: contain;
}
