/*********************************************************
 *      Colors
 *********************************************************/
@media (prefers-color-scheme: light) {
    :root {
        /* CSS Variables */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* CSS Variables */
    }
}

[data-theme=light],
.theme-light {
    /* CSS Variables */
    /*background-color: #EEEEEE;*/
}

[data-theme=dark],
.theme-dark {
    /* CSS Variables */
    /*background-color: black;*/
}

/*********************************************************
 *      Body
 *********************************************************/
/*
 *  Margins and size of html/body/#root is initially defined in index.mako
 */
/*html, body, #root {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/

#root {
    overscroll-behavior: contain;
}

.without-border {
    border: none !important; /* Remove the border */
    box-shadow: none !important; /* Optional: remove the box-shadow if present */
}
