.yui-horizontal-toolbar {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.yui-horizontal-toolbar-container {
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    position: relative; /* Needed for absolute positioning of scroll buttons */
    flex-grow: 1;
    margin: 0 1em; /* Reserve space for buttons */
    justify-content: space-between;
    align-items: center;
}

.yui-horizontal-toolbar-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.yui-horizontal-toolbar-section {
    display: flex;
    flex-shrink: 0; /* Prevents resizing */
    white-space: nowrap;
    margin: 0 5px; /* Space between sections */
    justify-content: space-between;
    align-items: center;
}

.yui-horizontal-toolbar-scroll-btn {
    cursor: pointer;
    user-select: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yui-horizontal-toolbar-scroll-btn.left {
    left: 0;
}
.yui-horizontal-toolbar-scroll-btn.right {
    right: 0;
}
.yui-horizontal-toolbar-scroll-btn span {
    width: 1.5em;
}
